.slider-viewport {
  position: relative;
}

.slider-viewport .arrow-left,
.slider-viewport .arrow-right {
  position: absolute;
  top: 40%;
  left: 0;
  right: auto;
  background-color: rgba(0, 0, 0, 0.8);
  border: 0;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  z-index: 20;
}

.slider-viewport .arrow-right {
  left: auto;
  right: 0;
}

.slider-viewport ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-viewport li {
  position: absolute;
}

.slider-photo {
  z-index: 1;
  transform: translateX(0);

  transition: all 1s;
}

.slider-photo.current {
  z-index: 10;
  transform: translateX(0);
}

.slider-photo.previous {
  z-index: 1;
  transform: translateX(-1920px);
}

.slider-photo.next {
  z-index: 1;
  transform: translateX(1920px);
}
